.switcher
    display: flex
    justify-context: space-between
    align-items: center
    cursor: pointer
    color: var(--colors-text)

.sun
    size: 14px
    @media(max-width: 580px)
        width: 24px
        height: 24px
.moon
    size: 14px
    color: #FFFFFF
    @media(max-width: 580px)
        width: 24px
        height: 24px

.text
    margin-left: 0.75rem
    @media(max-width: 580px)
        display: none
